<div class="num time" id="yearA"></div>
<div class="num time" id="yearB"></div>
<div class="num time" id="monthA"></div>
<div class="num time" id="monthB"></div>
<div class="num time" id="dayA"></div>
<div class="num time" id="dayB"></div>


<div class="num cigs" id="cigsA"></div>
<div class="num cigs" id="cigsB"></div>
<div class="num cigs" id="cigsC"></div>
<div class="num cigs" id="cigsD"></div>
<div class="num cigs" id="cigsE"></div>
<div class="num cigs" id="cigsF"></div>
<div class="num cigs" id="cigsG"></div>


<div class="num saved" id="savedA"></div>
<div class="num saved" id="savedB"></div>
<div class="num saved" id="savedC"></div>
<div class="num saved" id="savedD"></div>
<div class="num saved" id="savedE"></div>
<div class="num saved" id="savedF"></div>
<div class="num saved" id="savedG"></div>

<div id="helpButton"></div>
<div id="oopsButton"></div>
<div id="prefsButton"></div>
